* {
   padding: 0px;
   border: 0px;
   margin: 0px;
}

body{
   background-color: rgb(243, 223, 209);
   font-family: 'Poppins', sans-serif;
}

h1{
   padding: 10px;
   position: absolute;
   top: 70px;
   left: 390px;
}

h2{
   padding: 10px;
   font-size: 18px;
}

.left-bar{

   background-color: rgb(243, 185, 156) ;
   width: 350px;
   height:635px;
   position: absolute;
   z-index: 2;
}

.left-bar-content{
   position: absolute;
   top: 320px;
   left: 75px;
   text-align: center;
   font-size: 14px;
   padding: 5px;
}

.contact{
   text-align: center;
   line-height: 25px;
   padding-top: 10px;
}

.social{
   padding: 5px 0px 30px;
}

.learn{
   padding: 8px;
}

.description{

   padding: 10px;
   margin-right: 100px;
   position: absolute;
   top: 130px;
   left: 390px;
   font-weight: 300px;
}

.habilities{
   width: 250px;
   position: absolute;
   top: 340px;
   left: 390px;
   font-weight: 300px;
   text-align: left;
}

.habilities ul, .studies ul{
   padding-left: 30px;
}

.studies{
   width: 550px;
   position: absolute;
   top: 340px;
   left: 700px;
   font-weight: 300px;
   text-align: left;
}

.footer{
   background-color: rgb(241, 207, 152);
   height: 50px;
   position: relative;
   top: 588px;
   z-index: 1;
}

#photo{
   border: 5px solid  rgb(224, 122, 116);
   border-radius: 100%;
   float: left;
   position: absolute;
   left: 60px;
   top: 60px;
}